# Ignore hidden files
.DS_Store
.Rhistory
.ipynb*

# Ignore deprecated files and junk
junk/
__pycache__
deprecated/

# Ignore certain junk in the WDL Folder
workflows/bucket
workflows/other
*cromwell*
*womtool*

# Ignore testing data for notebooks
Seurat_Objects/

# Ignore IP
bcl2fastq2-v2.20.0.422-Linux-x86_64.rpm

